.container {
    min-width: 100%;
    min-height: 100%;
    padding: 35px 30px;
    color: #93a1a1;
    font-size: 14px;
}

.section {
    margin-bottom: 35px;
}

.section:last-child {
    margin-bottom: 0;
}