.container {
    display: inline-block;
}

.badge {
    display: inline-block;
    line-height: 1;
    border-radius: .375rem;
    font-weight: 700;
    font-size: .75em;
    padding: .35em .65em;
    color: #fff;
    position: relative;
    text-align: center;
    vertical-align: baseline;
    background-color: #222;
    overflow: clip;
    width: 85px;
}

.badgeText {
    position: relative;
}

.progress {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(var(--bs-primary-rgb));
    transition: width 500ms ease-in-out, background-color 500ms ease-in-out;

    &.gray {
        background-color: #333;
    }
}

.healthcheckProgress {
    background-color: #60aa4a;
}

.uploadProgress {
    background-color: hsl(198.69deg 74.6% 44.28%);
}

@media not (min-width: 900px) {
    .container {
        display: flex;
    }
}

.uploadIcon::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid currentColor;
    margin-right: 4px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

@media not (pointer: coarse),
(min-width: 900px) {
    .failureBadge:hover {
        cursor: pointer;
    }
}