.action-button {
    padding: 4px 6px;
    line-height: 16px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    &:hover {
        .trash-icon {
            fill: white;
        }

        .directory-icon {
            fill: white;
        }
    }
}

.trash-icon {
    display: inline-block;
    width: calc(22/24 * 16px);
    height: 16px;
    fill: #adb8b8;
}

.directory-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: #adb8b8;
}

.text {
    /* color: #adb8b8; */
}