.container {
    width: 100%;
    background: hsl(196.8 80% 7%);
    border-radius: 10px;
    padding: var(--container-padding);
    padding-bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.03);
    --container-padding: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
    gap: 16px;
}

.footer {
    text-align: center;
    padding: 12px 0;
}

.title {
    margin: 0;
}

.count {
    color: hsl(180, 7%, 55%);
    font-size: 0.9em;
    font-weight: 500;
    background: hsl(196.8, 25%, 14.51%);
    padding: 6px 12px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.tableContainer {
    margin-left: calc(-1 * var(--container-padding));
    margin-right: calc(-1 * var(--container-padding));
}

.table {
    margin: 0;
    color: hsl(180, 7%, 70%);

    /* table headers */
    thead th {
        background-color: hsl(192, 100%, 11%) !important;
        color: hsl(180, 7%, 85%) !important;
        border: none;
        padding: 16px 0;
        font-weight: 600;
        font-size: 0.9em;
        letter-spacing: 0.5px;
        white-space: nowrap;
        text-align: center;
        width: 100px;

        &:first-child {
            text-align: left;
            padding-left: 0;
            width: 50%;
        }
    }

    /* table body */
    tbody td {
        color: hsl(180, 7%, 70%);
        border: none;
        background-color: unset;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        padding: 12px 0;
        vertical-align: middle;
        text-align: center;
        max-width: 200px;
        white-space: nowrap;

        &:first-child {
            text-align: left;
            padding-left: 0;
        }
    }

    /* when a row is being removed, set opacity to 20% */
    .removing {
        opacity: 20%;
    }
}

.table:not(:has(+ .footer)) tbody tr:last-child td {
    border-bottom: none;
}

.badges {
    display: flex;
    margin-top: 3px;
    margin-bottom: 5px;
    gap: 10px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* desktop */
@media (min-width: 900px) {
    .mobile {
        display: none;
    }

    .skinny {
        display: none;
    }
}

/* mobile */
@media not (min-width: 900px) {
    .desktop {
        display: none;
    }

    .skinny {
        display: none;
    }

    .mobile {
        display: block;
    }

    .table thead tr th:first-child {
        width: unset;
    }
}

/* really skinny devices */
@media not (min-width: 410px) {
    .actions {
        flex-direction: column;
        align-items: end;
        margin-right: 20px;
    }
}