.task {
    background-color: #02181d;
    padding: 5px;
    color: #dee2e6;
}

.run {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.run-button {
    flex-shrink: 0;
}

.task-progress {
    font-size:12px;
    white-space: pre-line;
}
