.container {
    min-width: 100%;
    min-height: 100%;
    padding: 35px 30px;
    color: #93a1a1;
    font-size: 14px;
}

.queueContainer {
    min-height: 382.9px;
    margin-bottom: 50px;
}

@media not (min-width: 450px) {
    .queueContainer {
        min-height: 413.9px;
    }
}

.section {
    margin-bottom: 50px;
}

.sectionTitle {
    display: flex;
    gap: 10px;
    align-items: baseline;

    h3 {
        margin: 0;
    }
}

.alert {
    margin-bottom: 35px;

    .list {
        margin-bottom: 0;
    }

    .listItem {
        margin-top: 5px
    }
}

.dropzone {
    position: relative;
}

.activeDropzone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 123, 255, 0.1);
    outline: 2px dashed #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-radius: 4px;
}